Flask==0.10.1
Flask-WebTest==0.0.6
Jinja2==2.7.2
MarkupSafe==0.19
Pygments==1.6
Sphinx==1.2b3
WebOb==1.3.1
WebTest==2.0.14
Werkzeug==0.9.4
beautifulsoup4==4.3.2
blinker==1.3
distribute==0.6.24
docutils==0.11
gunicorn==18.0
itsdangerous==0.23
newrelic==2.34.0.29
pyephem==3.7.5.3
redis==2.9.1
requests==2.2.1
six==1.6.1
sphinx-rtd-theme==0.1.5
waitress==0.8.8
wolframalpha==1.0.2
wsgiref==0.1.2
xmltodict==0.8.7
