<!DOCTYPE html>
<html>
  <head>
    <title>API Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http:////netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">API Guide</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="container">

      <h1>API guide</h1>

      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}

      {% block body %}{% endblock %}

  </div>
  </body>
</html>
